---
import Layout from "../../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import type { GetStaticPaths } from "astro";



export async function getStaticPaths() {
  const collections = await getCollection('exerciseCollections');

  return collections.map((col:any) => ({
    params: {
      category: col.data.category,
      collection: col.data.slug,
    },
  }));
}


const { category, collection } = Astro.params;
const currentCategory = await getEntry("categories", category);
const collectionInfo = await getEntry('exerciseCollections', `${category}/${collection}`);
const exerciseList = await getCollection('exercises');
const exerciseSorted = exerciseList.sort((a, b) => a.data.index - b.data.index);

const collectionDocs = await getCollection('exerciseCollectionDocs');
const doc = collectionDocs.find(d => d.data.collectionSlug === collection) as any;

const {Content} = await doc.render();
---



<Layout title={ collectionInfo?.data.title } description={collectionInfo?.data.description}>

  <div class="mx-4 sm:mx-24 mt-16 space-y-12">

    <div class="breadcrumbs text-sm">
      <ul>
        <li><a href=`/${category}`>{currentCategory?.data.title}</a></li>
        <li><a href=`/${category}/${collection}`>{collectionInfo?.data.title}</a></li>
      </ul>
    </div>

    <div class="space-y-4">
      <h1 class="text-3xl font-bold">{collectionInfo?.data.title}</h1>
      <p>{collectionInfo?.data.description}</p>
    </div>

    <hr class="border-1 border-base-300">

      <!-- name of each tab group should be unique -->
      <div class="tabs tabs-lift">
        <input type="radio" name="tab_content" class="tab" aria-label="Overview" checked="checked" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <article class="prose max-w-none my-8 md:mx-12">
            <Content />
          </article>
        </div>

        <input type="radio" name="tab_content" class="tab" aria-label="Exercise List"/>
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <ul class="list">
            {
              exerciseSorted.map((ex:any) => (
                <a href={`/${category}/${collection}/${ex.data.slug}`}>
                  <li class="list-row hover:bg-base-200">{ex.data.title}</li>
                </a>
              ))
            }
          </ul>
        </div>

      </div>

  </div>
 


</Layout>

