---
// Import functions
import { getCollection, getEntry } from "astro:content";

// Import layouts
import Layout from "../../layouts/Layout.astro";

// Fetching paths
export async function getStaticPaths() {

  const categories = await getCollection("categories");

  return categories.map((cat:any) => ({
    params: { category: cat.data.slug }
  }));

}

const { category } = Astro.params;


const currentCategory = await getEntry("categories", category)
const exerciseCollections = await getCollection("exerciseCollections");
const collections:any = [...new Set(
  exerciseCollections
    .filter((col:any) => col.data.category === category)
)];


---

<Layout title={ currentCategory?.data.title } description={currentCategory?.data.description}>
  <div class="mx-4 sm:mx-24 mt-16 space-y-8">
    <div class="space-y-4">
      <h1 class="text-3xl font-bold">{ currentCategory?.data.title }</h1>
      <p>
          { currentCategory?.data.description }
      </p>
    </div>

    <hr class="border-1 border-base-300">

    <div class="flex flex-wrap md:p-4 gap-2">
      {
        collections.map((c:any) => (
          <div class="card w-88 border-1 border-base-400 bg-base-100">
            <div class="card-body">
              <h2 class="card-title">{c.data.title}</h2>
              <p class="text-neutral-600">{c.data.description}</p>
              <div class="badge badge-primary">{c.data.level}</div>
              <div class="justify-end card-actions">
                <a href={`/${currentCategory?.data.slug}/${c.data.slug}`} class="text-sm font-semibold">
                  <button class="btn btn-ghost">View Details →</button>
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>

  </div>


</Layout>